<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %}</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='common/js/bbsajax.js') }}"></script>
    <link href="{{ url_for('static', filename='common/sweetalert/sweetalert.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='common/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='common/sweetalert/xtalert.js') }}"></script>
    <link href="{{ url_for('static',filename='front/css/front_base.css')}}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
{#            <a class="navbar-brand" href="#">#}
{#              <img class="logo" src="{{ url_for('static',filename='common/images/logo.png') }}" alt="">#}
{#            </a>#}
            <a class="navbar-brand" href="/">Q-talk论坛</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="{{ url_for('front.search') }}" method="get">
            <div class="form-group">
              <input name = 'query' type="text" class="form-control" placeholder="请输入关键字">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              {% if g.front_user %}
                  <span id="login-tag" data-is-login="1" style="display:none;"></span>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ g.front_user.username }}
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for("front.profile",user_id=g.front_user.id) }}">个人中心</a></li>
                        <li><a href="{{ url_for('front.settings') }}">设置</a></li>
                        <li><a href="{{ url_for('front.logout') }}">注销</a></li>
                      </ul>
                  </li>
              {% else %}
                  <li><a href="{{ url_for('front.signin') }}">登录</a></li>
                  <li><a href="{{ url_for("front.signup") }}">注册</a></li>
              {% endif %}
           </ul>
        </div>
      </div>
    </nav>

    <div class="main-container">
        {% block body %}{% endblock %}
    </div>

</body>
</html>
