{% extends 'cms/cms_base.html' %}

{% block title %}
    评论管理-CMS管理系统
{% endblock %}

{% block page_title %}
    评论管理
{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='cms/js/comment.js')}}"></script>
{% endblock %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>内容</th>
                <th>评论时间</th>
                <th>评论人</th>
                <th>帖子标题</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for cmt in comment %}
                <tr data-id="{{ cmt.id }}">
                    <td>{{ cmt.content|safe }}</td>
                    <td>{{ cmt.create_time }}</td>
                    <td>{{ cmt.author.username }}</td>
                    <td>{{ cmt.post.title }}</td>
                    <td>
                        <button class="btn btn-danger btn-xs delete-comment-btn">移除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.info }}
    <div style="text-align:center;">
        {{ pagination.links }}
    </div>
{% endblock %}
